/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  height: 22px;
  left: 36px;
  top: 36px;
  width: 31px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  height: 6% !important;
  border-radius: 2px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white !important;
}

.bm-cross {
  width: 1px !important;
  height: 30px !important;
}

.bm-cross-button {
  right: 21px !important;
  top: 16px !important;
}
.bm-cross-button > button:focus {
  outline: none;
}

.bm-cross-button:focus {
  outline: none !important;
}

.bm-cross-button > span > .bm-cross {
  background: white;
  height: 10px;
  width: 5px;
}

.bm-menu-wrap {
  height: 100%;
  width: 300px;
}

/* General sidebar styles */
.bm-menu {
  background: darkgrey;
  font-size: 1.4em;
  overflow: hidden !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul.bm-item {
  color: #333333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  font-size: 1em;
}

ul.bm-item > li {
  display: inline-flex;
}

.bm-item > li > a {
  color: grey;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  cursor: pointer;
}
.bm-item > li {
  position: relative;
}

.bm-item:focus {
  outline: none;
}

.bm-item > li > a > span {
  background-color: white;
  height: 1px;
  transition: all 0.2s ease;
  width: 100%;
  position: relative;
}

.bm-item > li > a > span:nth-child(1) {
  opacity: 0;
  top: 15px;
  left: 0;
}
.bm-item > li > a > span:nth-child(2) {
  opacity: 0;
  bottom: 15px;
  left: 0;
}

.bm-item > li > a:hover > span:nth-child(1) {
  top: -2px;
  opacity: 1;
}
.bm-item > li > a:hover > span:nth-child(2) {
  bottom: -4px;
  opacity: 1;
}

.bm-item > li > a:hover > {
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item > li > a:hover {
  color: white;
}
