/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  height: 22px;
  background-color: transparent;
  left: 36px;
  top: 36px;
  width: 31px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:white;
  
  height: 1px !important;
  border-radius: 2px;
  width: 35px;
  align-self: center;
}



.bm-cross {
  width: 1px !important;
  height: 30px !important; 
}



.bm-cross-button {
  right: 21px !important;
  top: 16px !important;
}



.bm-cross-button > span > .bm-cross {
  background: hsl(0, 60%, 35%);
  height: 10px;
  width: 5px;
}

ul .bm-item {
  margin-bottom: 10px;
  font-weight: 700;

}

.bm-menu-wrap {
  height: 100%;
  border-right: 1px solid hsl(0, 60%, 35%);
  width: 350px !important;
}

@media only screen and (max-width: 600px) {
  .bm-menu-wrap {
    height: 100%;
    width: 250px !important;
  }
}
/* General sidebar styles */
.bm-menu {
  background: black;
  font-size: 1.4em;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: hsl(0, 60%, 35%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

ul.bm-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  font-size: 18px;
  font-weight: 700;

}

ul.bm-item li {
  display: inline-flex;
}

.bm-item > li > a {
  color: hsl(0, 60%, 35%);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  cursor: pointer;
}
.bm-item > li {
  position: relative;
}

.bm-item:focus {
  outline: none;
}

.bm-item > li > a > span {
  background-color:hsl(0, 60%, 35%);
  height: 1px;
  transition: all 0.2s ease;
  width: 100%;
  position: relative;
}

.bm-item > li > a > span:nth-child(1) {
  opacity: 0;
  top: 15px;
  left: 0;
}
.bm-item > li > a > span:nth-child(2) {
  opacity: 0;
  bottom: 15px;
  left: 0;
}

.bm-item > li > a:hover > span:nth-child(1) {
  top: -4px;
  opacity: 1;
}
.bm-item > li > a:hover > span:nth-child(2) {
  bottom: -4px;
  opacity: 1;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item > li > a:hover {
  color:white;
}
